MONGO_URI="mongodb+srv://dev_tamanna:2qXwiqPwlU5Z6Ys4@cluster0.d1xtk5s.mongodb.net/Agriculture"
JWT_SECRET=JWT_SECRET=13416a536e95fb7661635ef75d9601a4a0ad6e1d093bdd9f8821179e8883f46c58b34477fbc6f3052c4d5ff1e68ad368
PORT=5000
NODE_ENV=production

# Email SMTP settings
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_SECURE=false
MAIL_USER=dontstudy09@gmail.com
MAIL_PASS=fwmneocxkmejbylp
MAIL_FROM="KrishiPool <dontstudy09@gmail.com>"

CLOUD_NAME=dn20i02v7
CLOUD_API_KEY=123784592388942
CLOUD_API_SECRET=wuYqLfD-VbRx2e79okBvdxia8Rg


